.barbados__header {
    display: flex;
  }
  
  .barbados__header img {
    height: 50px;
    width: 100px;
  }
  
  .barbados__header nav a {
    margin: 0 10px;
  }
  
  .barbados__headline {
    text-align: center;
  }
  
  .barbados__banner {
    width: 100%;
    height: auto;
  }
  
  .barbados__bottomContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .barbados__bottomContainer__cities, 
  .barbados__bottomContainer__landmarks, 
  .barbados__bottomContainer__people {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }