header {
  display: flex;
}

header img {
  height: 50px;
  width: 100px;
}

nav a {
  margin: 0 10px;
}

h1 {
  text-align: center;
}

main img {
  width: 100%;
  height: auto;
}

.bottomContainer {
  display: flex;
  justify-content: space-around;
}

.bottomContainer__cities, 
.bottomContainer__landmarks, 
.bottomContainer__people {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}