.france__header {
  display: flex;
}

.france__header img {
  height: 50px;
  width: 100px;
}

.france__header nav a {
  margin: 0 10px;
}

.france__headline {
  text-align: center;
}

.france__banner {
  width: 100%;
  height: auto;
}

.france__bottomContainer {
  display: flex;
  justify-content: space-around;
}

.france__bottomContainer__cities, 
.france__bottomContainer__landmarks, 
.france__bottomContainer__people {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}