

.headerContainer{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.franceNav{
    display: flex;
    flex-direction: column;
}
.icelandNav{
    display: flex;
    flex-direction: column;
}
.portugalNav{
    display: flex;
    flex-direction: column;
}
.barbadosNav{
    display: flex;
    flex-direction: column;
}
.homeNav{
    display: flex;
    flex-direction: column;
}
body{
    background-size: cover;
    background-image: url ('./images/hello world plaanet.jpg');
    background-attachment: fixed;
}