

.index__headerContainer{
    display: flex;
    flex-direction: column;
}

.index__headerContainer h1{
    text-align: center;
    color: white;
    font-size: 64px;
    -webkit-text-stroke: 2px black;
}

.index__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.index__franceNav{
    display: flex;
    flex-direction: column;
    
}
.index__icelandNav{
    display: flex;
    flex-direction: column;
}
.index__portugalNav{
    display: flex;
    flex-direction: column;
}
.index__barbadosNav{
    display: flex;
    flex-direction: column;
}
.index__homeNav{
    display: flex;
    flex-direction: column;
}
.index__body{
    background-size: cover;
    background-image: url(../images/hello\ world\ plaanet.jpg);
    background-attachment: fixed;
}
.index__homeNav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}