@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("./france.css");
@import url("./home.css");
@import url("./barbados.css");
@import url("./iceland.css");
@import url("./portugal.css");
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

