.portugal__header {
    display: flex;
  }


  .portugal__header {
    display: flex;
  }
  
  .portugal__header img {
    height: 50px;
    width: 100px;
  }
  
  .portugal__header nav a {
    margin: 0 10px;
  }
  
  .portugal__headline {
    text-align: center;
  }
  
  .portugal__banner {
    width: 150%;
    height: auto;
  }
  
  .portugal__bottomContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .portugal__bottomContainer__cities, 
  .portugal__bottomContainer__landmarks, 
  .portugal__bottomContainer__people {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .portugal__flag {
    height: 100px;
    width: 200px;
  }