header {
    display: flex;
  }
  
  header img {
    height: 50px;
    width: 100px;
  }
  
  nav a {
    margin: 0 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  main img {
    width: 100%;
    height: auto;
  }
  
  .portugal__bottomContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .portugal__bottomContainer__cities, 
  .portugal__bottomContainer__landmarks, 
  .portugal__bottomContainer__people {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }